@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.loading-spinner::after {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 10px;
  border: 2px solid rgba(100, 108, 255, 0.3);
  border-radius: 50%;
  border-top-color: #646cff;
  animation: spin 1s ease-in-out infinite;
}

.product-card-content {
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
}

.product-card:hover .product-card-content {
  transform: translateY(0);
}